.user-orders {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    
}

.orders-container {
    border: 1px solid #ccc;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 60px;

}

.orders-container h1 {
    color: rgb(255, 254, 248);
    text-shadow:
        -1px -1px 0 #670035,
        1px -1px 0 #670035,
        -1px 1px 0 #670035,
        1px 1px 0 #670035;
}

.orders-container span {

    text-shadow: none;
}



.orders-container button {
    margin: 5px 20px;
    padding: 8px 15px;
}

.order-item {
    display: flex;
    gap: 30px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    
    border-bottom: 1px solid #e4e0e0;
}

.order-item img {
    width: 90px;
}